Repository mkobit/obsidian-bases-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files -p tsconfig.json --noEmit, pnpm dedupe && :

fix: resolve ESLint violations for stylistic rules
  scripts/generate.ts
  src/charts/transformers/gantt.ts
  src/charts/transformers/waterfall.ts
  src/views/calendar-chart-view.ts
  src/views/sankey-chart-view.ts
  src/views/theme-river-chart-view.ts
  src/views/tree-chart-view.ts
  tests/charts/rose.test.ts
  tests/fixtures/obsidian_builder.ts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

chore: standardize translations and sentence case (#123)
  src/lang/locales/en.json
  src/views/bubble-chart-view.ts
  src/views/effect-scatter-chart-view.ts
  src/views/line-chart-view.ts
  src/views/lines-chart-view.ts
  src/views/polar-scatter-chart-view.ts
  src/views/radar-chart-view.ts
  src/views/scatter-chart-view.ts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

feat: Setup WebdriverIO for Automated E2E Testing (#124)
  .github/workflows/ci.yml
  .gitignore
  bun.lock
  e2e/smoke.e2e.ts
  eslint.config.mts
  package.json
  tsconfig.json
  wdio.conf.mts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

Update E2E docs and refactor CI setup (#125)
  .github/actions/setup-env/action.yml
  .github/workflows/ci.yml
  README.md
  e2e/AGENTS.md
Due: none

Cache Obsidian binary in E2E tests (#127)
  .github/workflows/ci.yml
Due: none

fix: correct e2e testing setup and documentation (#128)
  e2e/AGENTS.md
  tsconfig.json
  wdio.conf.mts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

Refactor E2E tests to use best practices (#129)
  e2e/AGENTS.md
  e2e/smoke.e2e.ts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

chore: migrate documentation and mise config to use Bun (#138)
  AGENTS.md
  README.md
Due: none

feat: improve CI workflow and expand linting coverage (#139)
  .github/workflows/ci.yml
  bun.lock
  esbuild.config.mjs
  eslint.config.mts
  package.json
  wdio.conf.mts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

chore(deps): exclude obsidian package from dependabot updates (#141)
  .github/dependabot.yml
Due: none

docs: trim AGENTS.md files to minimal requirements (#156)
  AGENTS.md
  e2e/AGENTS.md
  src/lang/AGENTS.md
Due: none

feat(ci): publish versioned build artifacts on every push (#155)
  .github/workflows/ci.yml
Due: none

chore: remove dead code for liquid chart (#157)
  src/main.ts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

refactor: remove unused `_?: unknown` parameters from functions (#159)
  src/main.ts
  src/views/area-chart-view.ts
  src/views/bar-chart-view.ts
  src/views/base-chart-view.ts
  src/views/boxplot-chart-view.ts
  src/views/bubble-chart-view.ts
  src/views/calendar-chart-view.ts
  src/views/candlestick-chart-view.ts
  src/views/effect-scatter-chart-view.ts
  src/views/funnel-chart-view.ts
  src/views/gauge-chart-view.ts
  src/views/graph-chart-view.ts
  src/views/heatmap-chart-view.ts
  src/views/line-chart-view.ts
  src/views/lines-chart-view.ts
  src/views/map-chart-view.ts
  src/views/parallel-chart-view.ts
  src/views/pareto-chart-view.ts
  src/views/pie-chart-view.ts
  src/views/radar-chart-view.ts
  src/views/radial-bar-chart-view.ts
  src/views/rose-chart-view.ts
  src/views/sankey-chart-view.ts
  src/views/scatter-chart-view.ts
  src/views/stacked-bar-chart-view.ts
  src/views/sunburst-chart-view.ts
  src/views/theme-river-chart-view.ts
  src/views/tree-chart-view.ts
  src/views/treemap-chart-view.ts
  src/views/word-cloud-chart-view.ts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

Refactor Gantt transformer to strict functional style (#160)
  src/charts/transformers/gantt.ts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

chore: add gantt.ts to strict eslint tier (#161)
  eslint.config.mts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

refactor: remove pass-through constructors from view classes (#158)
  eslint.config.mts
  src/views/area-chart-view.ts
  src/views/bar-chart-view.ts
  src/views/boxplot-chart-view.ts
  src/views/bubble-chart-view.ts
  src/views/calendar-chart-view.ts
  src/views/candlestick-chart-view.ts
  src/views/effect-scatter-chart-view.ts
  src/views/funnel-chart-view.ts
  src/views/gantt-chart-view.ts
  src/views/gauge-chart-view.ts
  src/views/heatmap-chart-view.ts
  src/views/line-chart-view.ts
  src/views/lines-chart-view.ts
  src/views/map-chart-view.ts
  src/views/pareto-chart-view.ts
  src/views/pie-chart-view.ts
  src/views/radar-chart-view.ts
  src/views/radial-bar-chart-view.ts
  src/views/rose-chart-view.ts
  src/views/scatter-chart-view.ts
  src/views/stacked-bar-chart-view.ts
  src/views/sunburst-chart-view.ts
  src/views/theme-river-chart-view.ts
  src/views/tree-chart-view.ts
  src/views/treemap-chart-view.ts
  src/views/word-cloud-chart-view.ts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

Refactor BaseChartView to extract safely typed config value options (#163)
  src/views/area-chart-view.ts
  src/views/base-chart-view.ts
  src/views/graph-chart-view.ts
  src/views/line-chart-view.ts
  src/views/sankey-chart-view.ts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

chore: Upgrade ESLint to v10 (#164)
  bun.lock
  eslint.config.mts
  package.json
  scripts/generate.ts
  scripts/generators/flow.ts
  src/charts/transformer.ts
  src/charts/transformers/boxplot.ts
  src/charts/transformers/calendar.ts
  src/charts/transformers/gantt.ts
  src/charts/transformers/hierarchy.ts
  src/charts/transformers/lines.ts
  src/charts/transformers/parallel.ts
  src/charts/transformers/pareto.ts
  src/charts/transformers/waterfall.ts
  src/json-parsing.ts
  src/lang/i18n.ts
  src/lang/text.ts
  src/theme-validation.ts
  src/views/bubble-chart-view.ts
  src/views/candlestick-chart-view.ts
  src/views/chart-modal.ts
  src/views/effect-scatter-chart-view.ts
  src/views/gantt-chart-view.ts
  src/views/heatmap-chart-view.ts
  src/views/pictorial-bar-chart-view.ts
  src/views/radial-bar-chart-view.ts
  src/views/scatter-chart-view.ts
  tests/charts/cartesian_dataset.test.ts
  tests/charts/pie_dataset.test.ts
  tests/charts/transformers/calendar.test.ts
  tests/charts/transformers/effect-scatter.test.ts
  tests/charts/transformers/gantt.test.ts
  tests/charts/transformers/radial-bar.test.ts
  tests/charts/transformers/waterfall.test.ts
  tests/heatmap_chart.test.ts
  tests/pictorial-bar.test.ts
  tests/transformer_candlestick.test.ts
  tests/transformer_word_cloud.test.ts
  tests/transformers/polar-scatter.test.ts
  tests/transformers_dataset_extended.test.ts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

style: add mobile-responsive css rules for charts (#177)
  styles.css
Due: none

refactor(bubble-chart): use getCommonTransformerOptions (#182)
  src/views/bubble-chart-view.ts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

refactor: replace `any` cast with typed cast for ViewOption `.key` (#183)
  src/views/bubble-chart-view.ts
  src/views/candlestick-chart-view.ts
  src/views/effect-scatter-chart-view.ts
  src/views/gantt-chart-view.ts
  src/views/heatmap-chart-view.ts
  src/views/radial-bar-chart-view.ts
  src/views/scatter-chart-view.ts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

chore(lint): disable no-unused-expressions for view files (#179)
  eslint.config.mts
  src/views/base-chart-view.ts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

refactor(views): standardize view types and boolean options (#180)
  src/views/calendar-chart-view.ts
  src/views/polar-bar-chart-view.ts
  src/views/polar-line-chart-view.ts
  src/views/radial-bar-chart-view.ts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

refactor: extract visual map options to BaseChartView (#181)
  src/views/base-chart-view.ts
  src/views/calendar-chart-view.ts
  src/views/heatmap-chart-view.ts
  src/views/map-chart-view.ts
  src/views/scatter-chart-view.ts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

refactor: remove unused underscore parameters (_?: unknown) (#178)
  src/charts/transformers/hierarchy.ts
  src/lang/i18n.ts
  src/main.ts
  src/views/area-chart-view.ts
  src/views/base-chart-view.ts
  src/views/line-chart-view.ts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

feat: add typed vault builder utility (#184)
  bun.lock
  e2e/fixtures/datasets/character.ts
  e2e/fixtures/datasets/country.ts
  e2e/fixtures/datasets/gantt.ts
  e2e/fixtures/datasets/index.ts
  e2e/fixtures/datasets/sales.ts
  e2e/fixtures/datasets/score.ts
  e2e/fixtures/datasets/server-metrics.ts
  e2e/fixtures/datasets/stock.ts
  e2e/vault/index.ts
  e2e/vault/note.ts
  e2e/vault/schema.ts
  e2e/vault/serializer.ts
  e2e/vault/vault.ts
  package.json
  scripts/generate-vault.ts
Due: eslint --fix, tsc-files -p tsconfig.json --noEmit

chore: Move env_setup script to top-level .jules dir (#186)
  .jules/env_setup.sh
Due: none

chore: Remove auto-generated test artifacts from commit (#187)
  playwright-report/data/21333ff0c36e1630930cf2325228d2add8fd07ff.zip
  playwright-report/data/4cb46d4807f38f9daf0481b6240c4616c71fc74f.zip
  playwright-report/data/b9777706731b4c13cf0c62d138cf2c9024c85161.zip
  playwright-report/index.html
  playwright-report/trace/assets/codeMirrorModule-a5XoALAZ.js
  playwright-report/trace/assets/defaultSettingsView-CJSZINFr.js
  playwright-report/trace/codeMirrorModule.DYBRYzYX.css
  playwright-report/trace/codicon.DCmgc-ay.ttf
  playwright-report/trace/defaultSettingsView.7ch9cixO.css
  playwright-report/trace/index.BDwrLSGN.js
  playwright-report/trace/index.BVu7tZDe.css
  playwright-report/trace/index.html
  playwright-report/trace/manifest.webmanifest
  playwright-report/trace/playwright-logo.svg
  playwright-report/trace/snapshot.html
  playwright-report/trace/sw.bundle.js
  playwright-report/trace/uiMode.Btcz36p_.css
  playwright-report/trace/uiMode.CQJ9SCIQ.js
  playwright-report/trace/uiMode.html
  playwright-report/trace/xtermModule.DYP7pi_n.css
  test-results/.last-run.json
  test-results/smoke.e2e.ts-Obsidian-Base-3a11d-bsidian-and-load-the-plugin-retry1/trace.zip
  test-results/smoke.e2e.ts-Obsidian-Base-4cf18-d-register-the-settings-tab-retry1/trace.zip
  test-results/smoke.e2e.ts-Obsidian-Base-74b92--create-a-file-in-the-vault-retry1/trace.zip
Due: eslint --fix

chore: add .editorconfig (#188)
  .editorconfig
Due: none

chore: update Bun to 1.4.2 (#430)
  .github/actions/setup-env/action.yml
  .github/workflows/ci.yml
  .github/workflows/openspec.yml
  bun.lock
  mise.lock
  mise.toml
  package.json
Due: none

chore(main): release 0.2.0
  .release-please-manifest.json
  CHANGELOG.md
  manifest.json
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,mts,cts,jsx,tsx}
  tsc-files -p tsconfig.json --noEmit: any of: *.{ts,mts,cts,tsx}
  pnpm dedupe && :: any of: pnpm-lock.yaml
